<div class="linkslist">
  <p class="asidetitle"><%= __('friendlinks') %></p>
    <ul>
      <li><i class="fa fa-book"></i> <a href="http://taoyuanxiaoqi.com" target="_blank"><%= __('chao_blogs') %></a></li>
    </ul>
</div>
